
#site_name {
   font-size: 40px;  
   font-family: 'Bebas Neue', cursive;
   color: #BB271A;
}

a#site_name{
   font-size: 35px;
}

#auth_card {
   background-image: url('/resources/guest_background2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.authors, .publishers{
   width: 83.33%;
   display: inline;
   margin-bottom: 20px;
   padding: 8px;
   border: 1px solid gray;
}

.cmr-5 { margin-right: 5px; }

#delete_popup_box, 
#update_read_pages_success_box
{
	visibility: hidden;
	width: 300px;
	position: fixed;
	top: 200px;
	left: calc(50% - 150px);
	padding: 20px;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#filter_options_box,
#sort_options_box
{
	visibility: hidden;
	width: 300px;
	position: fixed;
	top: 120px;
	padding: 20px;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blurry {
   filter: blur(5px);
}

@media(max-width: 680px)
{
   .authors, .publishers, 
   #filter_options_box, #sort_options_box
   {
      width: 92%;
   }
}

